
.DisplayPokemonList{
margin:10% auto;
border: black;
/*overflow: hidden;*/
overflow-y:auto;
overflow-x: hidden;
margin-bottom:-15%;

}


.scroll-div{
    overflow-y: scroll;
    padding: 2%;
}


button{
   border-radius:10px;
   padding: 1%;
   background-color: #ee1515;
   color: #ffcb05;
}

/* for-phone-only */
@media (max-width: 599px) {
    .DisplayPokemonList {
        width: 100%;
    }

        .scroll-div {
            width: 100%;
            height: 300px;
        }

        button {
            width: 100%;
            display: block;
                margin-left: auto;
                margin-right: auto;
        }
}


/* for-tablet-portrait-up */
@media (min-width: 600px) {
    .DisplayPokemonList {
            width: 100%;
        }
    
        .scroll-div {
            width: 100%;
            height: 300px;
        }
    button {
            width: 52.5%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
}


/* for-tablet-landscape-up */
@media (min-width: 900px) {
    .DisplayPokemonList {
            width: 100%;
        }
    
        .scroll-div {
            width: 100%;
            height: 300px;
        }
    button {
            width: 45%;;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
}


/* for-desktop-up */
@media (min-width: 1200px) {
    .DisplayPokemonList {
            width: 68%;
            height:164.2%;
            position: absolute;
            top:43%;
            left:-15%;
            overflow-y:auto;
           
          background-image: url("../IMG/pokemon\ background3.jpg"); 
            /*left: -40%;
            top:-850px;*/
        }
    
        .scroll-div {
            position: relative;
            overflow-y: scroll;
            width: 100%;
            height: 890px;
        }
    
           #load-more {
            width: 25.0%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            position: relative;
                left: 8%;
        }
.background3{
    position: relative;
    width:81%;
    left:7%;
}

    }
    

/* for-medium-desktop-up */
@media (min-width: 1400px) {
    .DisplayPokemonList {
            width: 60%;
            position: absolute;
            top: 40%;
            left: -10%;
            margin-top: 12%;
            /*left: -40%;
                top:-850px;*/
        height:132%;
      
        }
    
        .scroll-div {
            overflow-y: scroll;
            width: 100%;
            height: 983px;
        }
    
           #load-more {
            width: 30.0%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: 1%;
            position: relative;
            left: 5%;
            
        }
}


/* for-big-desktop-up */
@media (min-width: 1800px) {}
