
form input{
    margin-top:2%;
    margin-bottom: 2%;
    border-radius: 10px;
    padding:1%;
    display: block;
        margin-left: auto;
        margin-right: auto;
}

form #submit{
    padding:1%;
    border-radius: 10px;
    display: block;
        margin-left: auto;
        margin-right: auto;
}

/* for-phone-only */
@media (max-width: 599px) {
    form input {
        width: 90%;
    }
    form #submit {
        width: 92.5%;
    }
}


/* for-tablet-portrait-up */
@media (min-width: 600px) {
    form input {
            width: 50%;
        }
    
        form #submit {
            width: 52.5%;
        }
}


/* for-tablet-landscape-up */
@media (min-width: 900px) {
    form input {
            width: 45%;
        }
    
        form #submit {
            width: 37.5%;
        }
}


/* for-desktop-up */
@media (min-width: 1200px) {
    form input {
            width: 32%;
            position:relative;
            left:0%;
            top:-115px;
        }
    
        form #submit {
            width: 22.5%;
            position: relative;
                left: 0%;
                top:-115px;
                margin-top: -1%;
            margin-bottom: 3%;
        }
}


/* for-medium-desktop-up */
@media (min-width: 1400px) {
    form input {
            width: 30%;
            position: relative;
            left: 0px;
        }
    
        form #submit {
            width: 23.5%;
            position: relative;
            left: 0%;
            margin-top: -1%;
            margin-bottom: 3%;
            padding:0.75%;
        }
}


/* for-big-desktop-up */
@media (min-width: 1800px) {}