@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
.App {
  text-align: center;
  font-family: 'Pokemon Solid', sans-serif;
  
}

.Title{
  color:#FFCB05;
}


@media (max-width: 599px) {
  .App {
      background-color: #CC0000;
    }
        .pokedex {
          position: relative;
          height: 70px;
          top: -50px;
          left: 1.5%;
          transform: rotate(15deg);
        }
}

@media (min-width: 600px) {
.App {
    background-color: #CC0000;
  }

  .pokedex {
    position: relative;
    height: 70px;
    top: -50px;
    left: 1.5%;
    transform: rotate(15deg);
  }

  .Title {
    font-size: 180%;
  }
}

@media (min-width: 900px) {
.App{
  background-color: #CC0000;
}

  .pokedex {
      position: relative;
      height: 90px;
      top: -80px;
      left: 1.5%;
      transform: rotate(15deg);
    }
        .Title {
          font-size: 300%;
        }

   
}

/* for-desktop-up */
@media (min-width: 1200px) {
 .App{

background-image: url('./IMG/pokemon background.jpg');
  background-position: 100%;
  background-size: 107.5%

 }
  .Title {
    position: relative;
    top:-5px;
    left:-2%;
    font-size:300%;
  }

  .pokedex{
    position: relative;
    height: 100px;
    top:-135px;
    left:8.5%;
    transform: rotate(15deg);
  }
}


/* for-medium-desktop-up */
@media (min-width: 1400px) {
  .App {
    
     
    }
  .Title {
    font-size: 350%;
  }}


/* for-big-desktop-up */
@media (min-width: 1800px) {}



