@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
.App {
  text-align: center;
  font-family: 'Pokemon Solid', sans-serif;
}


/* for-desktop-up */
@media (min-width: 1200px) {
  .Title {
    font-size:300%;
  }
}


/* for-medium-desktop-up */
@media (min-width: 1400px) {}


/* for-big-desktop-up */
@media (min-width: 1800px) {}



